html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	-moz-tab-size: 4;
	  -o-tab-size: 4;
	     tab-size: 4;
}

html,
body {
	margin: 0;
	padding: 0;
}

main,
address,
article,
aside,
canvas,
details,
footer,
header,
nav,
section {
	display: block;
}

audio,
video {
	display: inline-block;
}

img,
iframe,
embed,
video,
audio {
	border-style: none;
}

a {
	background-color: transparent;
}

b,
strong {
	font-weight: bolder;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

code,
kbd,
samp,
pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

summary {
	display: list-item;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

textarea {
	overflow: auto;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

:-moz-ui-invalid {
	box-shadow: none;
}

template {
	display: none;
}

[hidden] {
	display: none;
}